body{
    font-size: 48px;
    font-family: Montserrat;
}
div{
    margin: 10px;
    text-align: center;
    margin-bottom: 100px;
}
.whyslov{
    font-size: 36px;
}
ul {
  display: table;
  margin: 0 auto;
  list-style-type: circle;
}
li {
    text-align: left;
}

input[type=text] {
    font-family: Montserrat;
    text-align: center;
    font-size: 36px;
    border: none;
    border-bottom: 1px solid #000000;  
}

input[type=text]:focus {
    border: none;
    font-weight: bold;  
    outline-width: 0;
    border-bottom: 2px solid #000000;
    p
}
input:focus::placeholder {
    color: transparent;
}

.promobut{
    outline-width: 0;
    font-size: 36px;
    font-family: Montserrat;
    border: 1 solid #000000;
    background: #ffffff;
}

.buytext{
    font-size: 24px;
}

.downbut{
    outline-width: 0;
    font-size: 36px;
    font-family: Montserrat;
    border: 1 solid #000000;
    background: #ffffff;
}

.backbut{
    outline-width: 0;
    font-size: 36px;
    font-family: Montserrat;
    border: 1 solid #000000;
    background: #ffffff;
}


/* unvisited link */
a:link, a:visited, a:hover, a:active {
    color: black;
    text-decoration: none;
}
