body{
    font-size: 48px;
    font-family: Montserrat;
}
div{
    margin: 10px;
    text-align: center;
    margin-bottom: 100px;
}
.whyslov{
    font-size: 36px;
}
ul {
  display: table;
  margin: 0 auto;
}
